
  <div id="like<%=post.id%>">
      <li><strong onclick="showComment('<%= post._id %>')">comments |
          <%=post.comments.length%></strong></li>
      <br/>
          <div class="input-group">
            <span class="input-group-addon">comment</span>
            <div class="row">
              <div class="col-md-9"><textarea class="form-control col-md-4" id="<%=post.id%>#ta" maxlength="200"
                  placeholder="write comment here...(max char 400)"></textarea></div>
              <div class="col-md-3"><button onclick="addComment('<%=post.id%>')" class="btn btn-info" >post</button></div>
            </div>
          </div>
      <br/>

      <% post.comments.forEach((comment)=>{%>
         
      <div class="input-group">
        <span class="input-group-addon"><strong><%=comment._user.username%></strong></span>
        <div class="row">
          <div class="col-md-9"><textarea disabled="true" class="form-control col-md-4"><%=comment.text%></textarea></div>
    
            <div class="dropdown">
              <button class="btn btn-default dropdown-togle" type="button" data-toggle="dropdown">
                <sapn class="caret"></sapn>
              </button>
              <ul class="dropdown-menu">
                <%if(user._id.toString() === comment._user._id.toString()){%>
                <li class="divider"><strong onclick="editComment('<%=comment._post%>','<%=comment._id%>')" data-toggle="modal"
                    data-target="#editBox">edit</strong></li>
                  <li class="divider"><strong onclick="deleteComment('<%= post.id %>','<%= comment.id %>')">delete</strong></li>
                <%}%>
              </ul>
            </div> 
          </div>  
        </div>
      </div>
  

          <div id="r<%=comment._id%>">
                  <div class="row">
                    <div class="col-md-2">
                      <h><%=comment.date.toDateString()%></h>
                    </div>
                    <div class="col-md-2">
                      <strong onclick="showReply('<%=post._id%>','<%= comment._id %>')">replies| <%=comment.replies.length%> </strong>
                    </div>
                  </div>
          </div>

    
      </br>
      <% }); %>
  </ol>
  