<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="/js/home.js"></script>
</head>

<body>


  <% 
        var likedpost={};
        user.mylikes.forEach(data=>{
          likedpost[data] = true;
        })
      %>

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/home" style="font-style:italic;">picstick</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active">
          <a href="/profile"><img size = "height:40px; widith:30px;"src='/favicon.ico'></a>
        </li>
        <li><a href="/profile">
            welcome : <%= user.username%></a></li>
      </ul>
      <button class="btn navbar-btn" data-toggle="modal" data-target="#addPostModal">add post</button></a>
      <a href="/logout"><button class="btn btn-signout navbar-btn">logout</button></a>
    </div>
  </nav>
<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="addPostModal" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">ADD POST</h4>
          </div>
          <div class="modal-body">
            <form action="posts" method="POST" enctype="multipart/form-data" id="addPostForm">
              story :<br/> <textarea rows='3' cols="60" type="text" id="story"  name="story" placeholder="what is in your mind ..."></textarea>
              <br />
              add pic : <input type="file" id="pic" name="pic">
              <br />
              <input type="submit" value="post">
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal -->
    <!-- Modal -->
    <div class="modal fade" id="editBox" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Edit Your Text</h4>
          </div>
          <div class="modal-body">
            <form id="editTextForm">
                <br /> <textarea rows='3' cols="60" type="text" id="editText" name="story"
                placeholder="write edit text..."></textarea>
                <br/>
              <input type="submit" value="EDIT">
            </form>
         
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal -->

    <div class="modal fade" role="dialog" id="likeBox">
      <div class="modal-dialog">

        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">LIKERS :</h4>
          </div>
          <div class="modal-body">
            <ol class="list-group">
              <div id="likeBoxModal">

              </div>
            </ol>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>
 

  <h3>new feed : </h3>
  <% if(!data||data.length <=0){%>
    <h3>oops! no posts to show </h3>
  <%};if(data){
       data.forEach(function(post,index){
  %>

  <div class="panel panel-default">
    <div class="row">
      <div class="col-md-3"><strong ><%=post._user.username%></strong> :</div>
      <div class="col-md-3">added on</div>
      <div class="col-md-3"><span><%= post.date.toDateString()%></span></div>
      <div class="dropdown">
      <span class="btn btn-default dropdown-togle" data-toggle="dropdown"><p class="caret"></p></span>
        <ul class="dropdown-menu">
          <% if(post._user._id.equals(user._id) ){%>
          <li><strong onclick="editPost('<%=post._id%>')" data-toggle="modal"
              data-target="#editBox">edit-story</strong></li>
              <li> <strong onclick="deletePost('<%=post.id%>')">delete</strong></li>
          <%}%>
        </ul>
      </div>        
    </div>
  </div>

  <p style="font-size:18px;"><%=post.story %></p>

  
    <a href='/posts'><img class=".img-responsive" src='<%=post.imgpath %>' alt="img not found"></a> <br />
<div id="like<%=post.id%>">
                    <%if(likedpost[post._id]){%>
                    <li onclick="unlikepost('<%=post._id%>')" class="fa fa-thumbs-up" style="font-size:30px;color:blue" />
                    <%}else{%>
                    <li onclick="likepost('<%=post._id%>')" class="fa fa-thumbs-up" style="font-size:30px;color:black" />
                    <%}%>
    <li><strong onclick="showlike('<%=post._id%>')"   data-target="#likeBox"><%=post.likes.length%> people
        like this</strong></li>
</div>

<div id="c<%=post.id%>">
    <li><strong onclick="showComment('<%= post._id %>')">comments |
        <%=post.comments.length%></strong>
    </li>
</div>
<br/>
<% })}; %>
  </div>
            <script src="/js/updatePost.js"></script>
            <script src='/js/deletePost.js'></script>
            <script src='/js/addPost.js'></script>
      
</body>

</html>