<div class="row">
  <div class="col-md-2">
    <h><%=comment.date.toDateString()%></h>
  </div>
  <div class="col-md-2">
    <strong onclick="showReply('<%=comment._post%>','<%= comment._id %>')">replies| <%=comment.replies.length%> </strong>
  </div>
</div>
</br>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">

  <div class="input-group">
    <span class="input-group-addon">reply</span>
    <div class="row">
      <div class="col-md-9"><input type="text" class="form-control col-md-4" id="<%=comment.id%>#rp" maxlength="200"
          placeholder="write reply here..">
      </div>
      <div class="col-md-3"><button onclick="addReply('<%=comment._post%>','<%=comment.id%>')" class="btn btn-info">reply</button>
      </div>
    </div>
  </div>
</br>
<% comment.replies.forEach((reply)=>{%>


<div class="input-group">
  <span class="input-group-addon"><strong><%=reply._user.username%></strong></span>
  <div class="row">
    <div class="col-md-9"><textarea disabled="true" class="form-control col-md-4"><%=reply.text%></textarea>
    </div>

    <div class="dropdown">
      <button class="btn btn-default dropdown-togle" type ="button" data-toggle="dropdown">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <%if(userID.toString() === reply._user._id.toString()){%>
        <li><strong onclick="editReply('<%=comment._post%>','<%=comment._id%>','<%=reply._id%>')" data-toggle="modal" data-target="#editBox">edit</strong></li>
        <li><strong onclick="deleteReply('<%=comment._post%>','<%=comment._id%>','<%=reply._id%>')" >delete</strong></li>
        <%}%>
      </ul>
    </div>   
  </div>
</div>
<li class="col-md-offset-1"> <%=reply.date.toDateString()%></li>
  <% }); %>

    </div>

  </div>
     
